body{
margin:0;
font-family:Arial;
background:#0b0f1f;
color:white;
}

.app{
display:grid;
grid-template-columns:250px 1fr 300px;
height:100vh;
}

.sidebar,.right-panel{
background:#11152b;
padding:20px;
}

.nav-btn{
display:block;
width:100%;
margin:5px 0;
padding:10px;
background:none;
color:white;
border:none;
cursor:pointer;
}

.nav-btn.active{
background:#6f86ff;
}

.view{display:none;}
.view.active{display:block;}

.hidden{display:none;}

.main{
display:flex;
justify-content:center;
align-items:center;
}

.timer-ring{
position:relative;
width:300px;
height:300px;
}

svg{
width:100%;
height:100%;
}

.track{
stroke:#222;
stroke-width:20;
fill:none;
}

.progress{
stroke:#6f86ff;
stroke-width:20;
fill:none;
stroke-linecap:round;
filter: drop-shadow(0 0 10px #6f86ff);
}

#timerText{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:40px;
}

.controls button{
margin:5px;
padding:10px;
}

.time-adjust button{
margin:5px;
padding:8px;
}

.calendar-grid{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:5px;
}

.calendar-grid div{
padding:10px;
background:#222;
text-align:center;
cursor:pointer;
}
